# MySQL
# DB_TYPE=mysql
# MYSQL_HOST=127.0.0.1
# MYSQL_PORT=3306
# MYSQL_USER=admin
# MYSQL_PASSWORD="sua senha"
# MYSQL_DB="loan"

# Postgres
#  DB_TYPE=postgres
#  PG_HOST=127.0.0.1
#  PG_PORT=5432
#  PG_USER=admin
#  PG_PASSWORD="sua senha"
#  PG_DB=loan_pgsql

# SQL Server
DB_TYPE=mssql
MSSQL_HOST=127.0.0.1
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD="sua senha"
MSSQL_DB=master
